[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
"psycopg2" = "*"
csvkit = "*"
mdbtools = "*"
django-postgres-copy = "*"

[dev-packages]
ipython = "*"
zappa = "*"

[requires]
python_version = "3.6"
