[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.0"
django-storages = "*"
zappa = "*"
postgres-copy = {editable = true,git = "https://github.com/california-civic-data-coalition/django-postgres-copy",ref = "105"}
psycopg2 = "<2.8.0"

[dev-packages]
django-debug-toolbar = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
python-coveralls = "*"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.7.3"
