[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.0"
django-environ = "*"
django-postgres-copy = "*"
django-storages = "*"
zappa = {editable = true, ref = "master", git = "https://github.com/Miserlou/Zappa.git"}

[dev-packages]
django-debug-toolbar = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
python-coveralls = "*"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
