<h2 class="rmp-subhead">8. Prevention Program level 2</h2>

<div class="container-fluid rmp-section">

{% if object.rmp.num_prev_2 > 0 %}

{% for process in object.rmp.process_set.all %}

  {% for pn in process.procnaics_set.all %}

    {% for program in pn.preventionprogram2_set.all %}

    <h4>{{ program.process_naics.process.process_desc }}, {{ program.process_naics.naics_code.description }} ({{ program.process_naics.naics_code.code }})</h4>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Prevention Program ID:</div>
      <div class="col">{{ program.id }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Safety Review Date</div>
      <div class="col">{{ program.safety_review_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">PHA Update Date</div>
      <div class="col">{{ program.pha_date }}</div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Safety Regulations</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.safety_regs|length > 0 %}
        {% for reg in program.safety_regs %}
          <li>{{ reg }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Hazards Identified</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.hazard_identified|length > 0 %}
        {% for hazard in program.hazard_identified %}
          <li>{{ hazard }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Process Controls</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.process_controls|length > 0 %}
        {% for control in program.process_controls %}
          <li>{{ control }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Mitigation Systems</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.mitigation_systems|length > 0 %}
        {% for system in program.mitigation_systems %}
          <li>{{ system }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Monitoring Systems</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.monitoring_systems|length > 0 %}
        {% for system in program.monitoring_systems %}
          <li>{{ system }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Changes since PHA</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.pha_changes|length > 0 %}
        {% for change in program.pha_changes %}
          <li>{{ change }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Training Type</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.training_type|length > 0 %}
        {% for type in program.training_type %}
          <li>{{ type }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row dark side-borders">
      <div class="col col-label">Competency Testing</div>
    </div>

    <div class="row side-borders">
      <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
        <ul>
        {% if program.competency_testing|length > 0 %}
        {% for test in program.competency_testing %}
          <li>{{ test }}</li>
        {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Procedure Review Date</div>
      <div class="col">{{ program.op_procedures_review_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Training Review Date</div>
      <div class="col">{{ program.training_review_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Maintenance Review Date</div>
      <div class="col">{{ program.maintenance_review_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Maintenance Inspection Date</div>
      <div class="col">{{ program.equipment_inspection_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Equipment Tested</div>
      <div class="col">{{ program.equipment_tested|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Management of Change Most Recent Date</div>
      <div class="col">{{ program.change_mgmt_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Management of Change Review Date</div>
      <div class="col">{{ program.change_mgmt_review_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Pre-startup Review Date</div>
      <div class="col">{{ program.pre_startup_review_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Compliance Audit Date</div>
      <div class="col">{{ program.compliance_audit_date }}</div>
    </div>
    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Compliance Audit Change Completion Date</div>
      <div class="col">{{ program.audit_completion_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Incident Investigation Date</div>
      <div class="col">{{ program.incident_investigation_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Incident Invest. Change Completion Date</div>
      <div class="col">{{ program.investigation_change_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Participation Plan Review Date</div>
      <div class="col">{{ program.participation_plans_review_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hot Work Review Date</div>
      <div class="col">{{ program.hot_work_permit_review_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Contractor Safety Review Date</div>
      <div class="col">{{ program.contractor_safety_review_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Contractor Safety Eval. Date</div>
      <div class="col">{{ program.contractor_safety_eval_date }}</div>
    </div>

    {% endfor %}

  {% endfor %}

  {% endfor %}

  {% else %}

  <div class="row light">
    <div class="col-4 col-sm-2 col-label">No Prevention Program level 2</div>
  </div>

  {% endif %}

</div>
