<h2>8. Prevention Program level 2</h2>

<div class="container-fluid rmp-section">

{% for process in object.rmp.process_set.all %}

  {% for pn in process.procnaics_set.all %}

    {% if not pn.preventionprogram2_set.exists %}

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">No Prevention Program level 2</div>
    </div>

    {% else %}

    {% for program in pn.preventionprogram2_set.all %}

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Prevention Program ID:</div>
      <div class="col">{{ program.id }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Safety Review Date</div>
      <div class="col">{{ program.safety_review_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Safety Regs - NFPA 58</div>
      <div class="col">{{ program.fr_nfpa58|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Safety Regs - OSHA (Ammonia)</div>
      <div class="col">{{ program.fr_osha|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Safety Regs - ASTM Standards</div>
      <div class="col">{{ program.fr_astm|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Safety Regs - ANSI Standards</div>
      <div class="col">{{ program.fr_ansi|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Safety Regs - ASME Standards</div>
      <div class="col">{{ program.fr_asme|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Safety Regs - None</div>
      <div class="col">{{ program.fr_none|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">PHA Review Date</div>
      <div class="col">{{ program.hazard_review_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">PHA Change Completion Date</div>
      <div class="col">{{ program.change_completion_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Toxic Release</div>
      <div class="col">{{ program.mh_toxic_release|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Fire</div>
      <div class="col">{{ program.mh_fire|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Explosion</div>
      <div class="col">{{ program.mh_explosion|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Runaway Reaction</div>
      <div class="col">{{ program.mh_runaway_reaction|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Polymerization</div>
      <div class="col">{{ program.mh_polymerization|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Overpressure</div>
      <div class="col">{{ program.mh_overpressurization|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Corrosion</div>
      <div class="col">{{ program.mh_corrosion|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Overfilling</div>
      <div class="col">{{ program.mh_overfilling|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Contamination</div>
      <div class="col">{{ program.mh_contamination|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Equipment Failure</div>
      <div class="col">{{ program.mh_equipment_failure|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Cooling Loss</div>
      <div class="col">{{ program.mh_cooling_loss|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Earthquake</div>
      <div class="col">{{ program.mh_earthquake|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Flood</div>
      <div class="col">{{ program.mh_floods|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Tornado</div>
      <div class="col">{{ program.mh_tornado|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Hurricane</div>
      <div class="col">{{ program.mh_hurricanes|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Hazard Identified - Other</div>
      <div class="col">{{ program.mh_other_type }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Vents</div>
      <div class="col">{{ program.pc_vents|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Relief Valves</div>
      <div class="col">{{ program.pc_relief_valves|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Check Valves</div>
      <div class="col">{{ program.pc_check_valves|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Scrubbers</div>
      <div class="col">{{ program.pc_scrubbers|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Flares</div>
      <div class="col">{{ program.pc_flares|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Manual Shutoffs</div>
      <div class="col">{{ program.pc_manual_shutoffs|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Auto Shutoffs</div>
      <div class="col">{{ program.pc_automatic_shutoffs|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Interlocks</div>
      <div class="col">{{ program.pc_interlocks|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Alarms	</div>
      <div class="col">{{ program.pc_alarms|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Keyed Bypass</div>
      <div class="col">{{ program.pc_keyed_bypass|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Emergency Air</div>
      <div class="col">{{ program.pc_emergency_air_supply|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Emergency Power</div>
      <div class="col">{{ program.pc_emergency_power|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Backup Pump</div>
      <div class="col">{{ program.pc_backup_pump|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Grounding</div>
      <div class="col">{{ program.pc_grounding_equipment|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Inhibitor Addition</div>
      <div class="col">{{ program.pc_inhibitor_addition|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Rupture Disks</div>
      <div class="col">{{ program.pc_rupture_disks|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Excess Flow Devices</div>
      <div class="col">{{ program.pc_excess_flow_device|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - Quench System</div>
      <div class="col">{{ program.pc_quench_system|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Purge System</div>
      <div class="col">{{ program.pc_purge_system|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Process Controls - None</div>
      <div class="col">{{ program.pc_none|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Process Controls - Other</div>
      <div class="col">{{ program.pc_other_type }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Sprinklers</div>
      <div class="col">{{ program.ms_sprinkler_system|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Dikes</div>
      <div class="col">{{ program.ms_dikes|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Fire Walls</div>
      <div class="col">{{ program.ms_fire_walls|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Blast Walls</div>
      <div class="col">{{ program.ms_blast_walls|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Deluge Systems</div>
      <div class="col">{{ program.ms_deluge_system|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Water Curtains</div>
      <div class="col">{{ program.ms_water_curtain|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Enclosure</div>
      <div class="col">{{ program.ms_enclosure|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Neutralization</div>
      <div class="col">{{ program.ms_neutralization|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - None</div>
      <div class="col">{{ program.ms_none|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Mitigation Systems - Other</div>
      <div class="col">{{ program.ms_other_type|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Monitoring Systems - Process Area</div>
      <div class="col">{{ program.md_process_area_detectors|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Monitoring Systems - Perimeter</div>
      <div class="col">{{ program.md_perimeter_monitors|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Monitoring Systems - None</div>
      <div class="col">{{ program.md_none|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Monitoring Systems - Other</div>
      <div class="col">{{ program.md_other_type|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Reduced Inventory</div>
      <div class="col">{{ program.ch_chemical_reduction|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Increased Inventory</div>
      <div class="col">{{ program.ch_chemical_increase|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Process Parameters</div>
      <div class="col">{{ program.ch_change_process_parameters|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Process Controls</div>
      <div class="col">{{ program.ch_install_process_controls|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Process Detection</div>
      <div class="col">{{ program.ch_install_process_detection|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Perimeter Monitoring</div>
      <div class="col">{{ program.ch_install_perimeter_monitoring|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Mitigation Systems</div>
      <div class="col">{{ program.ch_install_mitigation_systems|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - None Recommended</div>
      <div class="col">{{ program.ch_none_required|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - None</div>
      <div class="col">{{ program.ch_none|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Changes Since PHA - Other</div>
      <div class="col">{{ program.ch_other_changes }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Procedure Review Date</div>
      <div class="col">{{ program.op_procedures_review_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Training Review Date</div>
      <div class="col">{{ program.training_review_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Type of Training - Classroom</div>
      <div class="col">{{ program.tr_classroom|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Type of Training - On the Job</div>
      <div class="col">{{ program.tr_on_the_job|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Type of Training - Other</div>
      <div class="col">{{ program.tr_other_type|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Competency Testing - Written Tests</div>
      <div class="col">{{ program.ct_written_test|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Competency Testing - Oral Tests</div>
      <div class="col">{{ program.ct_oral_test|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Competency Testing - Demonstration</div>
      <div class="col">{{ program.ct_demonstration|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Competency Testing - Observation</div>
      <div class="col">{{ program.ct_observation|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Competency Testing - Other</div>
      <div class="col">{{ program.ct_other_type|yesno|capfirst }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Maintenance Review Date</div>
      <div class="col">{{ program.maintenance_review_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Maintenance Inspection Date</div>
      <div class="col">{{ program.equipment_inspection_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Equipment Tested</div>
      <div class="col">{{ program.equipment_tested|yesno|capfirst }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Compliance Audit Date</div>
      <div class="col">{{ program.compliance_audit_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Compliance Audit Change Completion Date</div>
      <div class="col">{{ program.audit_completion_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Incident Investigation Date</div>
      <div class="col">{{ program.incident_investigation_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Incident Invest. Change Completion Date</div>
      <div class="col">{{ program.investigation_change_date }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">Most Recent Change Date</div>
      <div class="col">{{ program.most_recent_change_date }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Description</div>
      <div class="col">{{ program.description }}</div>
    </div>

    {% endfor %}

    {% endif %}

  {% endfor %}

{% endfor %}

</div>
