{% load humanize %}

<h2 class="rmp-subhead">2. Toxics: Worst-case</h2>

{% if object.rmp.num_worst_tox > 0 %}

<p>Some Risk Management Plan information is not provided in the available RMP data. You need to make an appointment at an EPA Reading Room In order to get access to details from the Off-Site Consequence Analysis such as:</p>

<ul>
  <li>Names of the chemicals in the Off-Site Consequence Analysis</li>
  <li>Amount of chemical released</li>
  <li>Rate of chemical release</li>
  <li>Radius of affected area</li>
  <li>Vulnerable areas affected </li>
  <li>Count of affected population</li>
  <li>Maps or other optionally provided supplementary material</li>
</ul>

<p>Instructions on how to make an EPA appointment can be found <a href='https://www.epa.gov/rmp/federal-reading-rooms-risk-management-plans-rmp'>here</a>.</p>

{% for process in object.rmp.process_set.all %}

  {% if process.num_worst_tox > 0 %}

    {% for pc in process.procchem_set.all %}

      {% if pc.worst_tox_flag %}

        {% for twc in pc.toxicsworstcase_set.all %}

          <div class="container-fluid sub-section">
            <div class="row title">
              <div class="col">{{ pc.chemical.chemical_name }} (in {{ process }})</div>
            </div>

            <div class="row light side-borders">
              <div class="col-4 col-sm-2 col-label">CBI claimed:</div>
              <div class="col">{{ twc.cbi_flag|yesno|capfirst }}</div>
            </div>

            <div class="row dark side-borders">
              <div class="col-4 col-sm-2 col-label">Percent weight:</div>
              <div class="col">{{ twc.percent_weight|default_if_none:"" }}</div>
            </div>

            <div class="row light side-borders">
              <div class="col-4 col-sm-2 col-label">Physical state:</div>
              <div class="col">{{ twc.physical_state.phys_tr }}</div>
            </div>

            <div class="row dark side-borders">
              <div class="col-4 col-sm-2 col-label">Model used:</div>
              <div class="col">{{ twc.analytical_basis }}</div>
            </div>

            <div class="row dark side-borders">
              <div class="col-4 col-sm-2 col-label">Release duration (mins):</div>
              <div class="col">{{ twc.release_duration|default_if_none:"" }}</div>
            </div>

            <div class="row light side-borders">
              <div class="col-4 col-sm-2 col-label">Wind speed (meters per sec):</div>
              <div class="col">{{ twc.wind_speed|default_if_none:"" }}</div>
            </div>

            <div class="row dark side-borders">
              <div class="col-4 col-sm-2 col-label">Stability class:</div>
              <div class="col">{{ twc.stability_class }}</div>
            </div>

            <div class="row light side-borders">
              <div class="col-4 col-sm-2 col-label">Topography:</div>
              <div class="col">{{ twc.topography.topo_tr }}</div>
            </div>

            <div class="row dark side-borders">
              <div class="col col-label">Passive mitigation</div>
            </div>

            <div class="row side-borders">
              <div class="col-12 col-sm-6 col-lg-5 order-1 order-sm-1 col-dark">considered:</div>
              <div class="col-12 col-sm-6 col-lg-5 order-2 order-sm-3 col-light">
                <ul>
                {% if twc.passive_mitigation_considered|length > 0 %}
                {% for pm in twc.passive_mitigation_considered %}
                  <li>{{ pm }}</li>
                {% endfor %}
                {% else %}
                  <li>None</li>
                {% endif %}
                </ul>
              </div>
              <div class="col-12 col-sm-6 col-lg-7 order-2 order-sm-2 col-dark">not considered:</div>
              <div class="col-12 col-sm-6 col-lg-7 order-3 order-sm-4 col-light">
                <ul>
                {% if twc.passive_mitigation_not_considered|length > 0 %}
                {% for pm in twc.passive_mitigation_not_considered %}
                  <li>{{ pm }}</li>
                {% endfor %}
                {% else %}
                  <li>None</li>
                {% endif %}
                </ul>
              </div>
            </div>

          </div>

        {% endfor %}

      {% endif %}

    {% endfor %}

  {% endif %}

{% endfor %}

{% else %}

<p>None</p>

{% endif %}
