{% extends "base.html" %}

{% block title %}RMP Facilities{% endblock %} <!-- Fill in Page Title Here -->

{% block content %} <!-- This marks the beginning of where body content goes. If this tag is deleted, the page will not render.  -->
<div id="aboutus">
  <h3>Top RMP Facilities for 5-Year Accident Histories</h3>
  <p>
    This table contains all facilities with accidents in the last five yeears before they last reported that involved fatalities, the top 20 for injuries, the top 20 for number of people evacuated, and the top 20 for reported property damage. It does not includee accidents at facilities that are no longer registered with RMP.
  </p>
</div>
<!--
    <p class="info">
      Table sorted by facility name. Re-sort using column headers.
    </p>-->
  {% if facility_list %} <!-- Don't touch tags that look like this, but do style the markup inside them.  -->
  <div style="overflow-x:auto">
    <table>
      <tr>
        <th>Facility Name</th>
        <th>City</th>
        <th>State</th>
        <th>Number of Accidents</th>
        <th>Number of Deaths</th>
        <th>Number of Injuries</th>
        <th>Number of Evacuations</th>
        <th>Amount of Property Damage</th>
      </tr>
      {% load humanize %}
      {% for facility in facility_list %}
      <tr>
        <td><a href="{% url 'rmp:facility_detail' facility.id %}">{{ facility.facility_name }}</a></td>
        <td>{{ facility.city|title }}</td>
        <td>{{ facility.state.abbr }}</td>
        <td>{{ facility.num_accident_actual|intcomma }}</td>
        <td>{{ facility.num_deaths|intcomma }}</td>
        <td>{{ facility.num_injuries|intcomma }}</td>
        <td>{{ facility.num_evacuated|intcomma }}</td>
        <td>{{ facility.property_damage|intcomma }}</td>
      </tr>
      {% endfor %}

      {% for facility in evacuated_list %}
      <tr>
        <td><a href="{% url 'rmp:facility_detail' facility.id %}">{{ facility.facility_name }}</a></td>
        <td>{{ facility.city|title }}</td>
        <td>{{ facility.state.abbr }}</td>
        <td>{{ facility.num_accident_actual|intcomma }}</td>
        <td>{{ facility.num_deaths|intcomma }}</td>
        <td>{{ facility.num_injuries|intcomma }}</td>
        <td>{{ facility.num_evacuated|intcomma }}</td>
        <td>{{ facility.property_damage|intcomma }}</td>
      </tr>
      {% endfor %}

      {% for facility in prop_damage_list %}
      <tr>
        <td><a href="{% url 'rmp:facility_detail' facility.id %}">{{ facility.facility_name }}</a></td>
        <td>{{ facility.city|title }}</td>
        <td>{{ facility.state.abbr }}</td>
        <td>{{ facility.num_accident_actual|intcomma }}</td>
        <td>{{ facility.num_deaths|intcomma }}</td>
        <td>{{ facility.num_injuries|intcomma }}</td>
        <td>{{ facility.num_evacuated|intcomma }}</td>
        <td>{{ facility.property_damage|intcomma }}</td>
      </tr>
      {% endfor %}
    {% else %}
    <h1>No facilities</h1>
    {% endif %}
    </table>
  </div>

{% endblock %} <!-- This marks the end of where body content goes. If this tag is deleted, the page will not render -->
