{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Add stylesheet name below  -->
    <link rel="stylesheet" type="text/css" href="{% static 'rmp/style.css' %}"/>
    <!-- Add Google fonts below  -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700" rel="stylesheet">
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  </head>
  <body>

    <div class="title-container">
		  <img src="{% static 'rmp/img/Houston_Chronicle_Logo_2016.svg.png'%}" alt="houstonlogo" width="200px" />
      <img src="{% static 'rmp/img/pu8EgQuz_400x400.png'%}" alt="rjilogo" width="21px" />
		</div>

    <h1 class="header">The Right-to-Know Network</h1>

    <div id="nav">
      <ul class="navbar flex-container">
        <li><a href="{% url 'index' %}">Home</a></li>
		    <li><a href="https://www.houstonchronicle.com/local/texas/chemical-breakdown/" target="_blank">Press</a></li>
		    <li><a href="{% url 'databases' %}">Databases</a></li>
		    <li><a href="{% url 'contact' %}">Contact</a> </li>
      </ul>
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
      <p>The Right To Know Network &copy; 2018</p>
    </div>

    {% bootstrap_javascript jquery="slim" %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{% static 'rmp/script.js' %}"></script>
  </body>
</html>
