<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title> 
    <!-- Add stylesheet name below  -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rmp/style.css' %}"/>
    <!-- Add Google fonts below  -->
  </head>
  <body>
    {% block content %}{% endblock %} <!-- All page content will go here. Any client-side Javascript will go at the bottom -->
  </body>
</html>
