{% extends "base.html" %}

{% block title %}
Biennial Reporting System
{% endblock %}

{% block content %}



<div id="brscontainer">

       		  <div class="cards-1 cards">

           		<h2><a href="{% url 'brs' %}" style="color:black;text-decoration:none;">Biennial Reporting System (BRS)</a></h2>
                <center>
                {% load static %}
                <img src="{% static 'rmp/img/photo2.jpg' %}" alt="databasephoto" width="400px"/>

<ul>
  <li>
    <a class="data" href="{% url 'accident' %}">5-year accident history</a>
  </li>
  <li>
    <a class="data" href="{% url 'state_accidents' %}">Accidents by State</a>
  </li>
  <li>
    <a class="data" href= "{% url 'location_search' %}">Search by location</a>
  </li>
  <li>
    <a class="data" href="{% url 'facility_search' %}">Search by facility name</a>
  </li>
</ul>

<div id="About">
<h2> About the Database</h2>
</div>
<div class="brstext">
<p>BRS was last updated on RTK NET with a set of EPA data made on December 15, 2016, and includes records from 1989 through 2015.</p>
<p>For 2003 data only, some waste generation forms from the state of Texas had duplicate ID numbers to other waste generation forms. These forms were not loaded into the database by EPA. As a result, tens or hundreds of thousands of tons of waste have potentially gone missing from the database for this year. EPA has no current plans to fix this problem.</p>
<p>
The Biennial Reporting System (BRS) is one of EPA's primary tools for tracking the generation, shipment, and receipt of hazardous waste. It contains information from the Hazardous Waste Reports that must be filed every two years under the RCRA program. RCRA (the Resource Conservation and Recovery Act) is the Federal statute that regulates the generation, treatment, storage, disposal, or recycling of solid and hazardous waste. Facilities must report their activities involving hazardous waste to BRS if they fulfill one of two criteria:

They are a Large Quantity Generator (LQG) of waste, or
They treated, stored, or disposed (TSD) of RCRA hazardous waste on site in units subject to RCRA permitting requirements</p>
</div>

{% endblock %}
