{% extends "base.html" %}

{% block title %}
Biennial Reporting System
{% endblock %}

{% block content %}



<div id="brscontainer">

  <div class="cards-2 cards">



    <h2 class="data-title"><a href="{% url 'brs' %}" style="color:black;text-decoration:none;">Biennial Reporting System (BRS)</a></h2></div>




</div>
<div class="wrapper">

    <div class="box1">
    <p  >
      <a class="data" href="{% url 'accident' %}" style="color:black;" >5-year accident history</a>
    </p>
    </div>
    <div class="box2">
    <p  >
      <a class="data" href="{% url 'state_accidents' %}" style="color:black;">Accidents by State</a>
    </p>
    </div>
    <div class="box3">
    <p  >
      <a class="data" href= "{% url 'location_search' %}" style="color:black;">Search by location</a>
    </p>
    </div>
    <div class="box4">
    <p >
      <a class="data" href="{% url 'facility_search' %}" style="color:black;">Search by facility name</a>
    </p>
    </div>

  <div class="box content"><div id="brs">
  <div class="card-database">
    <br/>
   <h2 class="title">About the Database</h2>
  <p class="p">BRS was last updated on RTK NET with a set of EPA data made on December 15, 2016, and includes records from 1989 through 2015.
  <br/>
  <br/>
  For 2003 data only, some waste generation forms from the state of Texas had duplicate ID numbers to other waste generation forms. These forms were not loaded into the database by EPA. As a result, tens or hundreds of thousands of tons of waste have potentially gone missing from the database for this year. EPA has no current plans to fix this problem.
  <br/>
  <br/>
  The Biennial Reporting System (BRS) is one of EPA's primary tools for tracking the generation, shipment, and receipt of hazardous waste. It contains information from the Hazardous Waste Reports that must be filed every two years under the RCRA program. RCRA (the Resource Conservation and Recovery Act) is the Federal statute that regulates the generation, treatment, storage, disposal, or recycling of solid and hazardous waste. Facilities must report their activities involving hazardous waste to BRS if they fulfill one of two criteria:They are a Large Quantity Generator (LQG) of waste, or
  They treated, stored, or disposed (TSD) of RCRA hazardous waste on site in units subject to RCRA permitting requirements.
  <br/>
  <br/>
  <br/>
  <br/>
  </p>
  </div>
  </div>

  </div>


</div>



{% endblock %}
