{% extends "base.html" %}

{% block title %}
Biennial Reporting System
{% endblock %}

{% block content %}

<h2 id="dbheader">Biennial Reporting System (BRS)</h2>
  <div class="dbcontainer">
    <div class="description">

      <p>
        This page is currently under construction. Click <a href="http://www.rtk.net/brs/search.php">this link</a> to search the Biennial Reporting System database.
      </p>
      <!-- <h3 id="about">About the Database</h3> -->

      <!-- <p>
        BRS was last updated on RTK NET with a set of EPA data made on December 15, 2016, and includes records from 1989 through 2015.
      </p>
      <p>
        For 2003 data only, some waste generation forms from the state of Texas had duplicate ID numbers to other waste generation forms. These forms were not loaded into the database by EPA. As a result, tens or hundreds of thousands of tons of waste have potentially gone missing from the database for this year. EPA has no current plans to fix this problem.
      </p>
      <p>
        The Biennial Reporting System (BRS) is one of EPA's primary tools for tracking the generation, shipment, and receipt of hazardous waste. It contains information from the Hazardous Waste Reports that must be filed every two years under the RCRA program. RCRA (the Resource Conservation and Recovery Act) is the Federal statute that regulates the generation, treatment, storage, disposal, or recycling of solid and hazardous waste. Facilities must report their activities involving hazardous waste to BRS if they fulfill one of two criteria:They are a Large Quantity Generator (LQG) of waste, or
        They treated, stored, or disposed (TSD) of RCRA hazardous waste on site in units subject to RCRA permitting requirements.
      </p> -->
    </div>
  </div>



{% endblock %}
