{% extends "base.html" %}

{% block title %}
Search by chemical
{% endblock %}

{% block content %}

<h2 class="searchhead">Search By Chemical</h2>

{% if error %}

    <p class="error">Please submit a search term.</p>

    <form class="search" action="" method="get">
      <select name="chemical" required>
        <option value="" name="default">Select a chemical</option>
        {% for chemical in chemical_list %}
        <option value="{{ chemical.chemical_name }}">{{ chemical.chemical_name }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Search" required/>
    </form>

{% else %}

    <form class="search" action="{% url 'search_by_chemical' chemical.chemical_name %}" method="get">
      <select name="chemical" required>
        <option value="" name="default">Select a chemical</option>
        {% for chemical in chemical_list %}
        <option value="{{ chemical.chemical_name }}">{{ chemical.chemical_name }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Search" required/>
    </form>

{% endif %}

<!-- <form method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>

  <button type="submit">Submit</button>
</form> -->

{% endblock %}
