{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<h2 class="title"> <font color="#4C4B41">Matt Dempsey
<br/> Houston Chronicle Data Editor</font>
 </h2>
<br/>

<article>
<div id="image">
  {% load static %}
 <img class="matt" src="{% static 'rmp/img/MattDempsey.jpg'%}" width="500px" alt="mattdempsey"/>

<br/>
</div>

<div id="contacttext">
<p style="color:black;"> Matt Dempsey is the data editor for the Houston Chronicle's Investigations team. He joined the Chronicle in 2014. Matt previously worked for the Arizona Republic and Atlanta Journal-Constitution. His data journalism skills were used in projects involving payday lending, wildfires, state pensions and inequalities in high school sports. His passion for public records frequently leads to disclosure of important data from agencies at all levels of government. Matt has trained journalists at professional conferences and taught graduate and undergraduate students at Arizona State University's Walter Cronkite School of Journalism and Mass Communication. Contact Matt Dempsey:</p>
<ul id="email">
  <li> matt.dempsey@chron.com </li>
</ul>
</div>
</article>

<br/>
<br/>
<br/>

{% endblock %}
