{% extends "base.html" %}

{% block title %}
Databases
{% endblock %}

{% block content %}

<div class="cards-1 cards">
   <h2><a href="{% url 'brs' %}" style="color:black;text-decoration:underline;">Biennial Reporting System (BRS)</a></h2>
<p>The Biennial Reporting System (BRS) is one of the Environmental Protection Agency’s primary tools for tracking</p>
<p> the generation, shipment and receipt of hazardous waste. It contains information from Hazardous Waste Reports</p>
  <p>that must be filed every two years under the Resource Conservation and Recovery Act, which is</p>
    <p> the federal law that regulates the generation, treatment, storage, disposal or recycling of solid and hazardous waste.</p>
<br/>
<br/>
   <br/>
 </div>




 <div class="cards-2 cards">


   <h2><a href="{% url 'nrc' %}" style="color:black;text-decoration:underline;">National Response Center
   (NRC) </a></h2>
<p>This database records spills and accidents reported to the National Response Center. It tracks chemical spills, accidents involving chemicals (such as fires or </p>
<p> explosions), oil spills, transportation accidents that involve oil or chemicals, releases of radioactive materials, sightings of oil sheens on bodies of water,</p>
    <p> terrorist incidents involving chemicals, incidents where illegally dumped chemicals have been found and drills intended to prepare responders to handle</p>
      <p> these kinds of incidents. The National Response Center is operated by the U.S. Coast Guard and has become the central point of contact for reporting</p>
          <p> many different kinds of incidents involving hazardous materials.</p>
<br/>
<br/>


</div>

   <div class="cards-3 cards">

    <h2> <a href="{% url 'rcris' %}" style="color:black;text-decoration:underline;">RCRIS/RCRAINFO </a></h2>
<p>This database includes information from companies that generate, transport, treat, store and dispose of hazardous waste, which are required to </p>
<p>report certain activities to state-level regulators. These regulators pass on the information to the EPA. Data includes permit status, compliance and </p>
<p>violation information, and cleanup activities. The information is mandated by the Resource Conservation and Recovery Act (RCRA), as amended in 1984.</p>
    <br/>
    <br/>

  </div>

   <div class="cards-4 cards">

    <h2><a href="{% url 'rmp' %}" style="color:black;text-decoration:underline;">Risk Management Plans (RMP) </a></h2>
<p>Federal law requires facilities that use large amounts of extremely hazardous substances </p>
<p>to file Risk Management Plans with the EPA. This data is intended to save lives, protect property </p>
<p>and prevent pollution. You can identify facilities in your area by using the RMP search tool.</p>
    <br/>
    <br/>
  </div>



   <div class="cards-5 cards">

    <h2><a href="{% url 'tri' %}" style="color:black;text-decoration:underline;">Toxic Release Inventory (TRI) </a></h2>
<p>This inventory is a database of information about releases and transfers of toxic chemicals</p>
<p>from facilities in certain industrial sectors, including manufacturing, waste handling, mining </p>
  <p>and electricity generation. Facilities also must report the total amount of toxic chemicals in waste they produce.</p>
  <br/>
    <br/>
  </div>


{% endblock %}
