{% extends "base.html" %}

{% block title %}{{ object.facility_name }}{% endblock %}

{% block content %}

<div class="rmp">

  <a class="back" href="{% url 'rmp:facility_search' %}">
    Back to search
  </a>

  {% include 'rmp/rmp-sections/registration.html' %}

  {% include 'rmp/rmp-sections/toxics-worst-case.html' %}

  {% include 'rmp/rmp-sections/toxics-alternative-release.html' %}

  {% include 'rmp/rmp-sections/flammables-worst-case.html' %}

  {% include 'rmp/rmp-sections/flammables-alternative-release.html' %}

  {% include 'rmp/rmp-sections/accident-history.html' %}

  {% include 'rmp/rmp-sections/prevention-program-level-3.html' %}

  {% include 'rmp/rmp-sections/prevention-program-level-2.html' %}

  {% include 'rmp/rmp-sections/emergency-response.html' %}

  <h2>Executive Summary</h2>

  <p>
    {{ object.execsum_rmp.summary_text | linebreaksbr }}
  </p>

</div>

{% endblock %}
