{% extends "base.html" %}

{% block title %}{{ object.facility_name }}{% endblock %}

{% block content %}

<div class="rmp">

  <a class="back" href="{% url 'rmp:facility_search' %}">
    Back to search
  </a>

  <h1 class="rmp-title">{{ object.facility_name }}</h1>

  <div class="container-fluid rmp-section">
    
    <div class="row light">
      <div class="col-4 col-sm-2 col-label">EPA ID:</div>
      <div class="col">{{ object.id }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Other ID:</div>
      <div class="col">{{ object.rmp.other_facility_id }}</div>
    </div>

    <div class="row light">
      <div class="col-4 col-sm-2 col-label">DUNS:</div>
      <div class="col">{{ object.rmp.facility_duns }}</div>
    </div>

    <div class="row dark">
      <div class="col-4 col-sm-2 col-label">Registered:</div>
      <div class="col">{{ object.registered }}</div>
    </div>

  </div>

  {% include 'rmp/rmp-sections/registration.html' %}

  {% include 'rmp/rmp-sections/toxics-worst-case.html' %}

  {% include 'rmp/rmp-sections/toxics-alternative-release.html' %}

  {% include 'rmp/rmp-sections/flammables-worst-case.html' %}

  {% include 'rmp/rmp-sections/flammables-alternative-release.html' %}

  {% include 'rmp/rmp-sections/accident-history.html' %}

  {% include 'rmp/rmp-sections/prevention-program-level-3.html' %}

  {% include 'rmp/rmp-sections/prevention-program-level-2.html' %}

  {% include 'rmp/rmp-sections/emergency-response.html' %}

  <h2>Executive Summary</h2>

  <p>
    {{ object.execsum_rmp.summary_text | linebreaksbr }}
  </p>

</div>

{% endblock %}
