{% extends "base.html" %}

{% block title %}
RMP Facilities
{% endblock %}

{% block content %}

<a class="back" href="{% url 'rmp:location_search' %}">Back to search</a>

{% if state_query and not city_query %}
<h1>RMP Facilities in {{ state_query }}</h1>

{% elif state_query and city_query %}
<h1>RMP Facilities in {{ city_query }}, {{ state_query }}</h1>

{% endif %}

<table>
  <tr>
    <th>Facility Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip Code</th>
    <th>Deregistered</th>
    <th>Chemical Quantity (Lbs)</th>
    <th>Number of Accidents</th>
    <th>Number of Deaths</th>
    <th>Number of Injuries</th>
    <th>Number of Evacuations</th>
    <th>Amount of Property Damage</th>
  </tr>
  {% load humanize %}
  {% for facility in facility_list %}
  <tr>
    <td><a href="{% url 'rmp:facility_detail' facility.id %}" class="facilityList">{{ facility.facility_name }}</a></td>
    <td>{{ facility.city }}</td>
    <td>{{ facility.state.abbr }}</td>
    <td>{{ facility.zip_code }}</td>
    <td>{{ facility.deregistration_yn }}</td>
    <td>{{ facility.quantity_tot|intcomma }}</td>
    <td>{{ facility.num_accident|intcomma }}</td>
    <td>{{ facility.num_deaths|intcomma }}</td>
    <td>{{ facility.num_injuries|intcomma }}</td>
    <td>{{ facility.num_evacuated|intcomma }}</td>
    <td>{{ facility.property_damage|intcomma }}</td>
  </tr>
  {% endfor %}

</table>


<!-- {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %} -->




{% endblock %}
