{% extends "base_js.html" %}

{% block title %}
RMP Facilities
{% endblock %}

{% block content %}

<a class="back" href="{% url 'rmp:location_search' %}">Back to search</a>

{% if state_query and not city_query %}
<h1>RMP Facilities in {{ state_query }}</h1>

{% elif state_query and city_query %}
<h1>RMP Facilities in {{ city_query }}, {{ state_query }}</h1>

{% endif %}

<table id="table" class="table table-striped table-bordered" data-page-length='25'>
  <thead>
    <tr>
      <th>Facility Name</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Registered</th>
      <th>Number of Accidents</th>
      <th>Number of Deaths</th>
      <th>Number of Injuries</th>
      <th>Number of Evacuations</th>
      <th>Amount of Property Damage</th>
    </tr>
  </thead>
  <tbody>
    {% load humanize %}
    {% for facility in facility_list %}
    <tr>
      <td><a href="{% url 'rmp:facility_detail' facility.id %}" class="facilityList">{{ facility.facility_name }}</a></td>
      <td>{{ facility.city }}</td>
      <td>{{ facility.state.abbr }}</td>
      <td>{{ facility.zip_code }}</td>
      <td>{{ facility.registered|yesno|title }}</td>
      <td>{{ facility.num_accident_actual|intcomma }}</td>
      <td>{{ facility.num_deaths|intcomma }}</td>
      <td>{{ facility.num_injuries|intcomma }}</td>
      <td>{{ facility.num_evacuated|intcomma }}</td>
      <td>{{ facility.property_damage|intcomma }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
