{% extends "base.html" %}

{% block title %}
RMP Facility Search
{% endblock %}

{% block content %}

<h2 class="searchhead">Search By Facility</h2>

{% if error %}

    <p class="error">Please submit a search term.</p>

    <form class="search" action="" method="get">
      <input type="text" name="facility" placeholder="Facility Name" required/>
      <input type="text" name="parent_company" placeholder="Parent Company Name"/>
      <input type="text" name="city" placeholder="City"/>
      <input type="submit" value="Search" required/>
      <select name="state" required>
        <option value="" name="default">Select a state</option>
        {% for state in state_list %}
        <option value="{{ state.state }}">{{ state.state }}</option>
        {% endfor %}
      </select>
    </form>

{% else %}

    <form class="search" action="search_by_facility" method="get">
      <input type="text" name="facility" placeholder="Facility Name" required/>
      <input type="text" name="parent_company" placeholder="Parent Company Name"/>
      <input type="text" name="city" placeholder="City"/>
      <input type="submit" value="Search" required/>
      <select name="state" required>
        <option value="" name="default">Select a state</option>
        {% for state in state_list %}
        <option value="{{ state.state }}">{{ state.state }}</option>
        {% endfor %}
      </select>
    </form>

{% endif %}

<!-- <form method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>

  <button type="submit">Submit</button>
</form> -->

{% endblock %}
