{% extends "base.html" %}

{% block title %}
RTK Home
{% endblock %}

{% block content %}

<div id="aboutus">
  <h3> About Us </h3>
<p style="color:black;">     The Right-to-Know Network provides free access to numerous databases, text files,
and conferences on the environment, housing, and sustainable development. With
this resourse you can identify specific factories and their environmental effects; analyze
reinvestment by banks in their conmmunities; and assess people and communities affected.</p >
</div>

<div id="gridbox">

  <div class="cards-1 cards">
    <h2><a href="{% url 'brs' %}" style="color:black;text-decoration:underline;;">Biennial Reporting System (BRS) </a></h2>
    {% load static %}
    <img src="{% static 'rmp/img/photo2.jpg' %}" alt="databasephoto" width="400px"/>
<br/>
<br/>
    <br/>
  </div>

  <div class="cards-2 cards">


<h2><a href="{% url 'nrc' %}" style="color:black;text-decoration:underline;">National Response Center
(NRC)</a></h2>
{% load static %}
<img src="{% static 'rmp/img/photo1.jpg' %}"alt="databasephoto"width="400px"/>
<br/>
<br/>


</div>

    <div class="cards-3 cards">

    <h2> <a href="{% url 'rcris' %}" style="color:black;text-decoration:underine;">RCRIS/RCRAINFO </a></h2>
    {% load static %}
<img src="{% static 'rmp/img/photo3.jpg' %}"alt="databasephoto" width="400px"/>
    <br/>
    <br/>

  </div>

    <div class="cards-4 cards">

    <h2><a href="{% url 'rmp' %}" style="color:black;text-decoration:underline;">Risk Management Plans (RMP) </a></h2>
    {% load static %}
      <img src="{% static 'rmp/img/photo4.jpg' %}"alt="databasephoto" width="400px"/>
    <br/>
    <br/>
  </div>



    <div class="cards-5 cards">

    <h2><a href="{% url 'tri' %}" style="color:black;text-decoration:underline;">Toxic Release Inventory (TRI)</a></h2>
    {% load static %}
    <img src="{% static 'rmp/img/photo5.jpg' %}"alt="databasephoto" width="400px"/>
  <br/>
    <br/>
  </div>


</div>

{% endblock %}
