{% extends "base.html" %}

{% block content %}

<div id="aboutus">
  <h3> About Us </h3>
<p style="color:black;">     The Right-to-Know Network provides free access to numerous databases, text files,
and conferences on the environment, housing, and sustainable development. With
this resourse you can identify specific factories and their environmental effects; analyze
reinvestment by banks in their conmmunities; and assess people and communities affected.</p >
</div>

<div id="gridbox">

  <div class="cards-1 cards">
    <h2><a href="brs.html" style="color:black;text-decoration:underline;;">Biennial Reporting System (BRS) </a></h2>
    <img src="photo2.jpg" alt="databasephoto" width="400px"/>
<br/>
<br/>
    <br/>
  </div>




  <div class="cards-2 cards">


<h2><a href="nrc.html" style="color:black;text-decoration:underline;">National Response Center
(NRC)</a></h2>
<img src="photo1.jpg"alt="databasephoto"width="400px"/>
<br/>
<br/>


</div>

    <div class="cards-3 cards">

    <h2> <a href="rcris.html" style="color:black;text-decoration:underine;">RCRIS/RCRAINFO </a></h2>
<img src="photo3.jpg"alt="databasephoto" width="400px"/>
    <br/>
    <br/>

  </div>

    <div class="cards-4 cards">

    <h2><a href="rmp.html" style="color:black;text-decoration:underline;">Risk Management Plans (RMP) </a></h2>
      <img src="photo4.jpg"alt="databasephoto" width="400px"/>
    <br/>
    <br/>
  </div>



    <div class="cards-5 cards">

    <h2><a href="tri.html" style="color:black;text-decoration:underline;">Toxic Release Inventory (TRI)</a></h2>
    <img src="photo5.jpg"alt="databasephoto" width="400px"/>
  <br/>
    <br/>
  </div>


</div>
<div id="footer">

<p> The Right To Know Network@2018 </p>

</div>


{% endblock %}
