{% extends "base.html" %}

{% block title %}
Search RMP Facilities by Location
{% endblock %}

{% block content %}

<a href="{% url 'rmp:rmp' %}" class="back">Back to RMP homepage</a>

<h2 class="searchhead">Search By Location</h2>

{% if error %}

<p class="error">Please submit a search term.</p>

<form class="search" action="" method="get">
  <input type="text" name="city" placeholder="City"/>
  <input type="text" name="county" placeholder="County"/>
  <select name="state" required>
    <option value="" name="default">Select a state</option>
    {% for state in state_list %}
    <option value="{{ state.abbr }}">{{ state.abbr }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Search" />
</form>

{% else %}

<form class="search" action="{% url 'rmp:search_by_location' %}" method="get">
  <input type="text" name="city" placeholder="City" />
  <input type="text" name="county" placeholder="County"/>
  <select name="state" required>
    <option value="" name="default">Select a state</option>
    {% for state in state_list %}
    <option value="{{ state.abbr }}">{{ state.abbr }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Search" />
</form>

{% endif %}

{% endblock %}
