{% extends "base.html" %}

{% block title %}
National Response Center
{% endblock %}

{% block content %}

<h2 id="dbheader">National Response Center (NRC)</h2>
  <div class="dbcontainer">
    <div class="description">
      <p>
        This page is currently under construction. Please go to <a href="http://www.rtk.net/erns/search.php">this link</a> if you'd like to search the National Response Center database.
      </p>
      <!-- <h3 id="about">About the Database</h3>
      <p>
        The NRC database was last updated on RTK NET with a copy updated as of June 25, 2018, and includes incidents from 1982 through part of 2018.
      </p>
      <p>
        The NRC spills and accidents database is a database of incidents reported to the National Response Center. These incidents include chemical spills, accidents involving chemicals (such as fires or explosions), oil spills, transportation accidents that involve oil or chemicals, releases of radioactive materials, sightings of oil sheens on bodies of water, terrorist incidents involving chemicals, incidents where illegally dumped chemicals have been found, and drills intended to prepare responders to handle these kinds of incidents.
      </p>
      <p>
        The National Repsonse Center is operated by the U.S. Coast Guard, and has become the central point of contact of contact used for the reporting of many different kinds of incidents involving hazardous materials.
      </p> -->
    </div>
  </div>


{% endblock %}
