{% extends "base.html" %}

{% block title %}
National Response Center
{% endblock %}

{% block content %}


<div id="brscontainer">


  <div class="cards-2 cards">

    <h2 class="data-title"><a href="{% url 'nrc' %}" style="color:black;text-decoration:none;">National Response center (NRC)</a></h2></div>

    <center>
      {% load static %}
    <img src="{% static 'rmp/img/photo1.jpg' %}"alt="databasephoto" width="400px"/>
      </center>
</div>


<p align="center" font-size="50px">
    <a class="data" href="{% url 'accident' %}" style="color:black;" >5-year accident history</a>
  </p>
  <p align="center">
    <a class="data" href="{% url 'state_accidents' %}" style="color:black;">Accidents by State</a>
  </p>
  <p align="center">
    <a class="data" href= "{% url 'location_search' %}" style="color:black;">Search by location</a>
  </p>
  <p align="center">
    <a class="data" href="{% url 'facility_search' %}" style="color:black;">Search by facility name</a>
  </p>

</div>



<div id="About">
<h2> About the Database</h2>
</div>
<div class="brstext">
<p>The NRC database was last updated on RTK NET with a copy updated as of June 25, 2018, and includes incidents from 1982 through part of 2018.</p>
<p>
The NRC spills and accidents database is a database of incidents reported to the National Response Center. These incidents include chemical spills, accidents involving chemicals (such as fires or explosions), oil spills, transportation accidents that involve oil or chemicals, releases of radioactive materials, sightings of oil sheens on bodies of water, terrorist incidents involving chemicals, incidents where illegally dumped chemicals have been found, and drills intended to prepare responders to handle these kinds of incidents. The National Repsonse Center is operated by the U.S. Coast Guard, and has become the central point of contact of contact used for the reporting of many different kinds of incidents involving hazardous materials.</p>
</div>
</div>

{% endblock %}
