{% extends "base.html" %}

{% block content %}

<h1>THIS IS THE RCRIS DATA HOMEPAGE</h1>

<div id="brscontainer">


  <div class="cards-3 cards">

    <h2><a href="{% url 'rcris' %}" style="color:black;text-decoration:none;">RCRIS/RCRAINFO</a></h2>
      <center>
        {% load static %}
      <img src="{% static 'rmp/img/photo3.jpg' %}"alt="databasephoto" width="400px"/>

<ul>
  <li>
    <a href="{% url 'accident' %}">5-year accident history</a>
  </li>
  <li>
    <a href="{% url 'state_accidents' %}">Accidents by State</a>
  </li>
  <li>
    <a href= "{% url 'location_search' %}">Search by location</a>
  </li>
  <li>
    <a href="{% url 'facility_search' %}">Search by facility name</a>
  </li>
</ul>

<div id="About">
<h2> About the Database</h2>
</div>
<div class="brstext">
<p>RCRAINFO was last updated on RTK NET with a set of EPA data made on May 18, 2018. The data on RTK NET are from EPA's RCRAInfo database.</p>
<p>RCRAInfo includes both data on hazardous waste permits and activities and data on biennial hazardous waste generation and transfer forms (which used to be held in BRS). RTK NET still keeps the two sets of information separate, both because of presentation issues and for continuity with historical data, so RTK NET uses the name "RCRAINFO" for all RCRA data except for the biennial waste forms, which it calls "BRS".</p>
<p>The data in RCRAInfo consist of information about generators, transporters, treaters, storers, and disposers of hazardous waste, which are required to give certain reports about their activities to state-level regulators. These regulators pass the information on to Federal EPA. The law regulating the provision of this information is the Resource Conservation and Recovery Act (RCRA), as amended by the Hazardous and Solid Waste Amendments of 1984. Data includes permit status, compliance and violation information, and cleanup activities.</p>
</div>

{% endblock %}
