{% extends "base.html" %}

{% block title %}
RMP Accidents by State
{% endblock %}

{% block content %}
    <div id="aboutus">
    <h3> RMP Facilities and Accidents by State </h3>
    <p style="color:black;">  This table shows the number of RMP facilities -- facilities that could potentially have toxic or flammable chemical accidents with off-site consequences. Accident information is summed up from the most recent 5-year accident history for each reported facility. Facilities that are no longer registered with RMP are not included.
    </p>
  </div>
    <!--  <p class="info">
  <div class="infostate">
      Table sorted by state: re-sort using column headers.
</div>
    </p>  -->

  {% if state_list %}
  <table>
    <tr>
      <th>State</th>
      <th>Number of Facilities</th>
      <th>Number of Accidents</th>
      <th>Number of Deaths</th>
      <th>Number of Injuries</th>
      <th>Number of Evacuations</th>
      <th>Amount of Property Damage</th>
    </tr>
    {% load humanize %}
    {% for state in state_list %}
    <tr>
      <td>{{ state.state }}</td>
      <td>{{ state.count }}</td>
      <td>{{ state.num_accident|intcomma }}</td>
      <td>{{ state.num_deaths|intcomma }}</td>
      <td>{{ state.num_injuries|intcomma }}</td>
      <td>{{ state.num_evacuated|intcomma }}</td>
      <td>{{ state.property_damage|intcomma }}</td>
    </tr>
    {% endfor %}
  {% else %}
  <h1>Error: No information for states</h1>
  {% endif %}
  </table>

{% endblock %}
