{% extends "base.html" %}

{% block title %}
RMP Accidents by State
{% endblock %}

{% block content %}

  <h1>Accidents by State</h1>
  {% if state_list %}
  <table>
    <tr>
      <th>State</th>
      <th>Number of Facilities</th>
      <th>Number of Accidents</th>
      <th>Number of Deaths</th>
      <th>Number of Injuries</th>
      <th>Number of Evacuations</th>
      <th>Amount of Property Damage</th>
    </tr>
    {% for state in state_list %}
    <tr>
      <td>{{ state.state }}</td>
      <td>{{ state.count }}</td>
      <td>{{ state.num_accident }}</td>
      <td>{{ state.num_deaths }}</td>
      <td>{{ state.num_injuries }}</td>
      <td>{{ state.num_evacuated }}</td>
      <td>{{ state.property_damage }}</td>
    </tr>
    {% endfor %}
  {% else %}
  <h1>Error: No information for states</h1>
  {% endif %}
  </table>

{% endblock %}
