{% extends "base_js.html" %}

{% block title %}
RMP Accidents by State
{% endblock %}

{% block content %}
    <div id="aboutus">
    <h3> RMP Facilities and Accidents by State </h3>
    <p style="color:black;">  This table shows the number of RMP facilities -- facilities that could potentially have toxic or flammable chemical accidents with off-site consequences. Accident information is summed up from the most recent 5-year accident history for each reported facility. Facilities that are no longer registered with RMP are not included.
    </p>
  </div>
    <!--  <p class="info">
  <div class="infostate">
      Table sorted by state: re-sort using column headers.
</div>
    </p>  -->

  {% if state_list %}
  <table id="table" class="table table-striped table-bordered" data-page-length='50'>
    <thead>
      <tr>
        <th>State</th>
        <th>Number of Facilities</th>
        <th>Number of Accidents</th>
        <th>Number of Deaths</th>
        <th>Number of Injuries</th>
        <th>Number of Evacuations</th>
        <th>Amount of Property Damage</th>
      </tr>
    </thead>
    <tbody>
      {% load humanize %}
      {% for state in state_list %}
      <tr>
        <td>{{ state.state.name }} ({{ state.state.abbr }})</td>
        <td>{{ state.total_facilities }}</td>
        <td>{{ state.total_accidents|intcomma }}</td>
        <td>{{ state.total_deaths|intcomma }}</td>
        <td>{{ state.total_injuries|intcomma }}</td>
        <td>{{ state.total_evacuated|intcomma }}</td>
        <td>{{ state.total_property_damage|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  {% else %}
  <h1>Error: No information for states</h1>
  {% endif %}
  </table>

{% endblock %}
