{% extends "base.html" %}

{% block content %}

<table>
    {% load humanize %}
    {% for test in test %}
    <tr>
      <td>{{ test.EPAFacilityID }}</td>
      <td>{{ test.FacilityName }}</td>
      <td>{{ test.FacilityCity|title }}</td>
      <td>{{ test.FacilityState }}</td>
      <!-- <td>{{ facility.num_accident|intcomma }}</td>
      <td>{{ facility.num_deaths|intcomma }}</td>
      <td>{{ facility.num_injuries|intcomma }}</td>
      <td>{{ facility.num_evacuated|intcomma }}</td>
      <td>{{ facility.property_damage|intcomma }}</td> -->
      <td>{{ test.CountOfFacilityID }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
