/* UNIVERSAL STYLING */

h1 {
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 40px;
}

p {
	color: black;
	font-family: 'Muli', Arial, Helvetica, sans-serif;
	text-decoration-color: black;
	text-align: left;
}

.header {
	font-family:'Muli', Helvetica, sans-serif;
	color: black;
 	font-size: 2.5em;
 	text-align: center;
	font-weight: 700;
	padding: 10px 0px;
}

.content {
	padding: 25px 25px;
}

.content .back {
	color: black;
	font-family: 'Muli', Helvetica, sans-serif;
	text-decoration: none;
}

.content .back:hover {
	text-decoration: underline;
}

td a {
	color: black;
}

td a:hover {
	opacity: 0.7;
}


#footer {
	background-color: #82806F;
	height: 60px;
	margin: 0;
}

#footer p {
	font-size: 0.8em;
	font-style: italic;
	padding-top: 15px;
	color: white;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
}

image {
	border:none;
}

.error {
	color: red;
	text-align: center;
}

.content {
	grid-area: content;
}

.fixed {
  position: fixed;
  right: 20px;
	background-color: #82806F;
	padding: 10px 10px;
	margin: 0 0;
}

.fixed a {
	color: white;
	display: block;
}

.fixed a:hover {
	opacity: 0.7;
	color: white;
	text-decoration: underline;
}

/* NAVBAR */

.title-container {
	background-color: #82806F;
	height: 50px;
	text-align: center;
	color: #ffffff;
}

#nav ul {
	list-style-type: none;
	padding: 0 0;
}

#nav li {
  margin: 0;
  padding: 0;
	border-bottom: 1px solid #ccc;
	text-shadow: -.5px .5px 0 #000;

}

#nav a {
	display:block;
  color: #ffffff;
  background-color: #E8AD0C;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 7px;
  font-family: 'Muli', Helvetica, sans-serif;
	font-size: 1.2em;
}

#nav a:hover{
    background-color: #b88909;
}

.navbar {
	flex-direction: row;
	justify-content: space-between;
}

.navbar li{
	flex: 1 1 auto;
	text-decoration-color: black;
}

.flex-container {
	flex-direction: row;
	justify-content: space-between;
}

/* HOMEPAGE */

#aboutus {
	background-color: #f4f4f4;
	margin-bottom: 20px;
}

#aboutus h3 {
	display: block;
	width: 95%;
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: bold;
	color: black;
	text-align: left;
	font-size: 1.5em;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 0px;
	border-bottom: none;
}

#aboutus p {
	font-style: normal;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
}

.card-index {
	background-color: #f4f4f4;
	padding: 15px 15px;
	margin: 10px 20px;
	text-align: center;
}

.card-index a {
	font-size: 1em;
	font-family: 'Muli', Helvetica, sans-serif;
	color: black;
	margin: 0 auto;
	font-weight: bold;
	padding: 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.card-index a:hover {
	opacity: 0.6;
}

.card-index .database-title {
	text-align: center;
	color: black;
	border-bottom: none;
}

#gridbox {
	width: 100%;
	display: grid;
	text-align: center;
	align-content: center;
	grid-column-gap:10px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
			"c b "
			"d e "
			"f . ";
}

#gridbox img {
	 width: 80%;
}

/* DATABASE PAGE */

#databases {
	margin: 15px 15px;
	margin: 0 auto;
}

.dbheader h3 {
	text-shadow: none;
	margin: 15px auto;
	text-align: center;
}

.links {
	margin: 15px 0;
}

.links a {
	font-family: 'Muli', Helvetica, sans-serif;
	color: black;
	display: block;
	margin: 5px 0;
}

#databases .card-database h2 {
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	border-bottom: none;
}

.card-database a {
	color: black;
	font-size: 25px;
}

.card-database {
	background-color: #f4f4f4;
	text-align: center;
	padding: 10px 10px;
	margin: 10px;
}

.card-database p {
	margin-bottom: 0;
}

/* CONTACT */

article img {
	display: block;
	width: 300px;
	margin: 15px auto;
}

#contactpage {
	margin: 0 auto;
}

#contacttext {
	margin: 10px auto;
	text-align: center;
	width: 90%;
}

#titlecontact .title-contact {
	border-bottom: none;
}

.title-contact {
	text-align: center;
	font-size: 1.3em;
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: bold;
	margin: 10px 0;
}

#email p{
	color: black;
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
}

/* DATABASE DETAIL PAGES */

#dbheader {
	display: block;
	border-bottom: none;
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: bold;
}

.dbcontainer {
	text-align: center;
}
.description {
	text-align: left;
	display: block;
	background-color: #f4f4f4;
	padding: 10px 10px;
	max-width: 650px;
	margin: 0 auto;
}

#about {
	font-size: 1.2em;
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: bold;
	color: black;
	text-shadow: none;
	border-bottom: none;
}

.links a:hover {
	opacity: 0.6;
}

/* SEARCH FORM PAGES */

.searchhead {
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: bold;
	margin: 20px auto;
	font-size: 1.8em;
	border-bottom: none;
	text-align: center;
}

.searchtype{
	color: black;
}

input[type=text]{
	display: block;
	width: 40%;
	padding: 12px 20px;
  margin: 15px auto;
  box-sizing: border-box;
	border: 2px solid #82806F;
  border-radius: 4px;
}

input::placeholder{
	font-weight: bolder;
	font-size: 10px;
}

input[type=submit] {
	display: block;
	font-size: 15px;
	border: 1px solid #82806F;
  color: #82806F;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
}

input[type=submit]:hover {
	font-size: 15px;
  background-color: #82806F;
  border: 1px solid #82806F;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
}

.search select {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}


/* ADDITIONAL DESKTOP */

h2 {
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 1.6em;
	margin-top: 5px;
	color: black;
	margin-right: 5%;
}

.facility-info {
	font-family: 'Muli', Helvetica, sans-serif;

}

.title-container img {
	margin-top: 13px;
}

.data-title {
	color: black;
	text-decoration: none;
}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
	color: black;
}*/

/* TABLES */

/* table {
	width: 95%;
	padding-left:2.5%;
	padding-top: 10px;
	margin: 0 auto;
	font-family: 'Arial', Helvetica, sans-serif;
	border-collapse: collapse;
}

th {
	background-color: #E8AD0C;
	text-align: center;
}

th,td {
	/* border: 1px solid black; */
	width: 10%;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #f4f4f4;
} */

/* FACILITY DETAIL PAGE */

.rmp {
	margin-left: 3%;
	margin-right: 3%;
}

.rmp h1,h2,h3,h4 {
	text-align: left;
	border-bottom: 2px solid #E8AD0C;
}

.rmp h1 {
	margin-top: 40px;
}

.rmp-section {
	margin-bottom: 20px;
}

.chatter {
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
}

.table {
	text-align: center;
	font-family: 'Arial', Helvetica, sans-serif;
}

.row.light {
	padding-top: 10px;
	padding-bottom: 10px;
}

.row.dark {
	background-color: #f4f4f4;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row.title {
	border-bottom: 2px solid #E8AD0C;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-style: italic;
}


.row.side-borders {
	border-left: 2px solid #E8AD0C;
	border-right: 2px solid #E8AD0C;
}

.row.sub {
	border: 2px solid #E8AD0C;
}

.col-label {
	font-weight: bold;
}

.col-dark {
	background-color: #f4f4f4;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-light {
	padding-top: 10px;
	padding-bottom: 10px;
}

.info {
	color: black;
	text-align: left;
	font-style: italic;
	margin-left: 2.5%;
	margin-right: 20px;
	margin-bottom: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

#window{
	display: none;
}

@media screen and (max-width: 1100px){
	.fixed {
		display: none;
	}
}

@media screen and (max-width: 767px) {

	#gridbox {
		display: block;
	}

	.card-index {
		display: block;
		text-align: center;
	}

	.fixed {
		display: none;
	}

}

@media screen and (max-width: 479px) {
	.flex-container {
		flex-flow: column;
	}

	.navbar li {
		width: 100%;
	}

	#gridbox {
		display: block;
	}

	.card-index {
		display: block;
		text-align: center;
	}

	.fixed {
		display: none;
	}

}
