/* UNIVERSAL STYLING */

p {
	color: black;
	font-family: 'Muli', Arial, Helvetica, sans-serif;
	text-decoration-color: black;
	text-align: left;
}

h3 {
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: left;
	font-weight: bolder;
	text-shadow: -.5px .5px 0 #000;
	color: Black;
}

/* NAVBAR */

.container {
	background-color: #82806F;
	height: 50px;
	text-align: center;
	color: #ffffff;
}

h1 {
	font-family:'Muli', Helvetica, sans-serif;
	background-color: #ffffff;
	color: black;
 	font-size: 2.5em;
 	text-align: center;
	font-weight: 700;
}

#nav {
  padding: 0;
	list-style-type: none;

}

#nav li {
  margin: 0;
  padding: 0;
	border-bottom: 1px solid #ccc;
	/* text-decoration: none; */
	text-shadow: -.5px .5px 0 #000;

}

#nav a:link, a:visited {
	display:block;
  color: #ffffff;
  background-color: #E8AD0C;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 7px;
  font-family: 'Muli', Helvetica, sans-serif;
	font-size: 1.2em;
}

#nav a:hover{
    background-color: #b88909;
}

/* HOMEPAGE */

#aboutus {
	background-color: #f4f4f4;
	margin-bottom: 20px
}

#aboutus h3 {
	display: block;
	width: 95%;
	font-family: 'Muli', Helvetica, sans-serif;
	background-color: #f4f4f4;
	color: black;
	text-align: left;
	text-shadow: none;
	font-size: 1.5em;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 0px;
}

#aboutus p{
	font-style: normal;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
}

.card-index a {
	font-size: 1em;
	font-family: 'Muli', Helvetica, sans-serif;
	color: black;
	margin: 0 auto;
	font-weight: bold;
	padding: 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-index a:hover {
	opacity: 0.6;
}

/* DATABASES */

#databases {
	margin: 15px 15px;
}

#dbheader {
	display: block;
	margin: 15px auto;
}

.dbheader h3 {
	text-shadow: none;
	margin: 15px auto;
	text-align: center;
}

#about {
	font-size: 1.2em;
	font-family: 'Muli', Helvetica, sans-serif;
	color: black;
	text-shadow: none;
}

.dbcontainer {
	text-align: center;
}

.links {
	margin: 15px 0;
}

.links a {
	font-family: 'Muli', Helvetica, sans-serif;
	color: black;
	display: block;
	margin: 5px 0;
}

.description {
	text-align: left;
	display: block;
	background-color: #f4f4f4;
	padding: 15px 15px;
	margin: 0 10px;
}

/* CONTACT */

#image img {
	width: 300px;
	margin: 0 auto;
}

/* ADDITIONAL DESKTOP */

h2 {
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 1.6em;
	margin-top: 5px;
	color: black;
	margin-right: 5%;
}

/* #email p {
	color: black;
	display: block;
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	margin-left: 48px;
	margin-right: 20px;
	text-align: left;
	margin-top: 3px;
	margin-bottom: 3px;
} */

#email {
	width: 90%;
	margin: 0 auto;cx
}

#email p{
	color: black;
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}

.container img{
	margin-top: 13px;
}

.data-title {
	color: black;
	text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
	color: black;
}

body{
	background-color:white;
	margin: 0;
}



h2 {
	text-align: center;
}
/* homepage */

#gridbox img{
	width: 80%;
	margin-top: 20px;
}

.card-index {
	background-color: #f4f4f4;
	padding: 15px 15px;
	margin: 10px 20px;
	text-align: center;
}

/* table */

table{
	width: 95%;
	padding-left:2.5%;
	padding-top: 10px;
	margin: 0 auto;
	font-family: 'Arial', Helvetica, sans-serif;
	border-collapse: collapse;
}

th{
	background-color: #E8AD0C;
	text-align: center;
}

th,td {
	/* border: 1px solid black; */
	width: 10%;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #f4f4f4;
}

#databases .card-database h2{
	text-align: left;
}

.card-database {
	background-color: #f4f4f4;
	text-align: center;
	padding: 15px 15px;
	margin: 10px;
}

#brs .card-database {

margin-bottom: 0;

}

h2 {
	margin-top: 5px;
	text-align: center;
}

/*card style for the database page (end)*/

#footer {
	background-color: #82806F;
	height: 60px;
	margin:0;
}
#footer p{
	font-size: 0.8em;
	font-style: italic;
	padding-top: 15px;
	color: white;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
}

image{
	border:none;
}

h4{
	font-size: 0.8em;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	color: #ffffff;
}


.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

#About h2{
color:black;
font-size: 1.1em;
margin-left: 30px;
}

.brstext p{
  color:black;
  font-family: 'Muli', Helvetica, sans-serif;
  font-size: 0.8em;
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
}

#brsdatabase {
	color: #ffffff;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
}

#brscontainer {
  background-size: 300px 300px ;
  background-repeat: no-repeat;
  background-size: cover;
}

#brscontainer .cards{
	margin: 0 auto;
	text-decoration-color: black;
}
#brscontainer h2{
	text-align: left;
	font-size: 2em;
	margin: 35px 35px;
}
#brsdatabase a{
	color:black;
}


ul {
	display: flex;
	flex-direction: column;
	text-decoration-color:
}

li{
	flex: 1 1 auto;
	text-decoration-color: black;
}


#window{
	display: none;
}

.searchtype{
	color: black;
}

.error {
	color: red;
	text-align: center;
}

input[type=text]{
	display: block;
	width: 50%;
	padding: 12px 20px;
  margin: 15px auto;
  box-sizing: border-box;
	border: 2px solid #82806F;
  border-radius: 4px;
}

input::placeholder{
	font-weight: bolder;
	font-size: 10px;
}

.searchhead {
	margin: 20px auto;
	font-size: 1.8em;
}

select {
	display: block;
	margin: 0 auto;
}

input[type=submit] {
	display: block;
	font-size: 15px;
	border: 1px solid #82806F;
  color: #82806F;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
}

input[type=submit]:hover {
	font-size: 15px;
  background-color: #82806F;
  border: 1px solid #82806F;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
}

.brstext p{
	font-size: 20px;
}

#brscontainer h2{
	text-align: center;
}

.box {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 300px;
	height: 400px;
}

.box a {
	color: black;
	font-family: 'Muli', Arial, Helvetica, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
}

.box a:hover {
	opacity: 0.6;
}

	.sidebar {
		text-align: center;
	}

	.card-database {
		background-color: #f4f4f4;
		/* margin: 15px 20px;
		padding: 15px 20px; */
		text-align: center;
	}

	.card-database a {
		display: block;
		font-family: 'Muli', Helvetica, sans-serif;
		color: black;
		font-weight: bold;
		font-size: .8em;
	}

	.card-database a:hover {
		opacity: 0.7;
	}

/* #aboutus .homepage h3{
	height: 20px;
} */

#brs p{
	font-size: 1.1em;
	margin-left: 10%;
	margin-right: 10%;
}

#brs h2{
	margin-left: 10%;
}

#contacttext {
	margin: 10px auto;
	text-align: center;
	width: 90%;
}


.title-contact {
	text-align: center;
	font-size: 1.3em;
}

article img {
	display: block;
	width: 300px;
	margin: 25px auto;
}


@media (min-width: 600px) {
#brs h2{
	text-align: left;
}
#brscontainer .cards-2 h2{
	text-align: left;
}

#databases .card-database h2{
	text-align: left;
}

.box1 {
	background-color: #f4f4f4;
	grid-area: box1;
	font-size: 120%;
}

.box1 p {
	margin-top: 12%;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}
.box2 {background-color: #f4f4f4;
		grid-area: box2;
		text-align: center;
		font-size: 120%;
}

.box2 p {
	margin-top: 12%;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

.box3 {
	background-color: #f4f4f4;
	grid-area: box3;
	text-align: center;
	font-size: 120%;
}

.box3 p {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 12%;
}

.box4 {
	background-color: #f4f4f4;
	grid-area: box4;
	text-align: center;
	font-size: 120%;
}

.box4 p{
	margin-top: 12%;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
}

.content {
	grid-area: content;
}

.wrapper {
	margin-bottom: 10%;
	margin-left: 10%;
	margin-right: 10%;
	display: grid;
	grid-gap: 5px;

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"box1 content content"
		"box2 content content"
		"box3 content content"
		"box4 content content";
		background-color: #ffffff;
		color: #f4f4f4;
}

.flex-container {
	flex-direction: row;
	justify-content: space-between;
}

ul {
	flex-direction: row;
	justify-content: space-between;
}

#contacttext {
	grid-area: h;
	/* padding-right:20px;
	padding-left: 20px; */
	text-align: center;
}

#image {
	display: block;
  margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
	width: 35%;
}
}

@media (min-width: 800px) {

	.links a:hover {
		opacity: 0.6;
	}

	.description {
		max-width: 650px;
		margin: 0 auto;
	}

	#gridbox img {
	   width: 80%;
		 margin-top: 20px;
	}

	#brs p {
		font-size: 1.1em;
		margin-left: 16%;
		margin-right: 16%;
	}

	#brs h2{
		margin-left: 16%;
	}

	.item-1 {
		margin-right: auto;
	}

	.item-2 {
		margin-right: auto;
	}

	.item-3 {
		margin-right: auto;
	}

	.item-4 {
		margin-right: auto;
	}

	.item-5 {
		margin-right: auto;
	}


.chatter{
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
}

.table{
	text-align: center;
	font-family: 'Arial', Helvetica, sans-serif;
}

.info{
	color: black;
	text-align: left;
font-style: italic;
	margin-left: 2.5%;
	margin-right: 20px;
	margin-bottom: 0;
}

.cards{
    border-radius: 6px;
}

.cards-1{
	grid-area:c;
	margin-left: 20px;
	margin-right: 20px;
}

.cards-2{
	grid-area:b;
	margin-right: 20px;
	margin-left: 20px;
	height: 70%;
}
.cards-3{
	grid-area:d;
	margin-left: 20px;
	margin-right: 20px;

}
.cards-4{
	grid-area:e;
	margin-right: 20px;
}
.cards-5{
	grid-area:f;
	margin-left: 20px
}

#image{
	grid-area: g;
}

#databases{
		margin:0 auto;
		width:70%;
		height:100%;
 }

#contactpage{
 		margin:0 auto;
 		width:70%;
 		height:100%;
  }

.email{
	font-family:'Muli', Helvetica, sans-serif;
}

#gridbox{
width: 100%;
	display: grid;
	text-align: center;
	align-content: center;
	grid-column-gap:10px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:

			"c b "
			"d e "
			"f . ";
}

#contacttext {
				grid-area: h;
				/* padding-right:20px;
				padding-left: 20px; */
				text-align: center;
			}

.title-contact {
	text-align: center;
	margin: 0 auto;
}

#image {
	display: block;
}
}

@media screen and (min-width: 1000px) {
	article {
		display: grid;
		grid-gap: 5px;
		grid-template-areas:
		"g h "
	}

.p{
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 0;
}

.data-title{
	text-align: center;
	font-style: bold;
}

.data-about {
	text-align: center;
}

.database-title a{
	margin-left: 5%;
	text-align: left;
	color: black;
}

.title{
	margin-right: 175px;
}

/* .title-contact {
	padding-top: 10px;
	padding-left: 10px;
} */

/*card style for the index page (start)*/
.card-index {
	background-color: #f4f4f4;
	margin-left: 20px;
}

.card-index-2 {
	background-color: #f4f4f4;
	margin-right: 20px;
}

.card-index-3 {
	background-color: #f4f4f4;
	margin-left: 20px;
}

.card-index-4 {
	background-color: #f4f4f4;
	margin-right: 20px;
}

.card-index-5 {
	background-color: #f4f4f4;
	margin-left: 20px;
}

#contacttext{
	grid-area: h;
	text-align: center;
}

#image {
	display: block;
   margin-left: 0px;
	 padding-left: 20px;
}
